.el-button.is-plain {
    border-radius: 8px;
}
.el-input__inner {
    min-height: 40px !important;
    color: $chatfaq-color-neutral-black !important;
}
.el-input__wrapper {
    border-radius: 8px !important;
}
.el-button {
    border-radius: 8px !important;
}
.el-input__validateIcon {
    display: none !important;
}
