:root {
    /*            */
    /* ELEMENT UI */
    /*            */

    --el-color-primary: var(--chatfaq-color-primary-500);
    --el-color-primary-light-5: var(--chatfaq-color-primary-500);
    --el-color-primary-dark-2: var(--chatfaq-color-primary-900);
    --el-color-primary-light-9: var(--chatfaq-color-primary-200);
}

