<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="robots" content="noindex">

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <footer class="container">
            Confidential information about ___project_name__snake___, do not reproduce.
        </footer>
    </body>
</html>
