<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
Conversation ID:<br/><div><input id="conversation-input" type="text" size="100"></div>
Platform Config ID
<div><select id="pc_id-input">
    {% for pc_id in pc_ids %}
          <option value="{{ pc_id }}">{{ pc_id }}</option>
    {% endfor %}
</select>
</div>
<br/>
<input id="conversation-submit" type="button" value="Enter">

<script>
    const submit = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#conversation-submit').click();
        }
    }
    document.querySelector('#conversation-input').focus();
    document.querySelector('#conversation-input').onkeyup = submit;
    document.querySelector('#pc_id-input').onkeyup = submit;

    document.querySelector('#conversation-submit').onclick = function (e) {
        const conversation = document.querySelector('#conversation-input').value;
        const pc_id = document.querySelector('#pc_id-input').value;
        window.location.pathname = '/back/api/broker/chat/' + conversation + '/' + pc_id + '/';
    };
</script>
</body>
</html>
