<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
Conversation ID:<br/><div><input id="conversation-input" type="text" size="100"></div>

<div>
    FSM Definition ID
    <select id="fsm_def_id-input">
    {% for fsm_def_id in fsm_def_ids %}
          <option value="{{ fsm_def_id }}">{{ fsm_def_id }}</option>
    {% endfor %}
</select>
</div>
<br/>
<input id="conversation-submit" type="button" value="Enter">

<script>
    const submit = function (e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#conversation-submit').click();
        }
    }
    document.querySelector('#conversation-input').focus();
    document.querySelector('#conversation-input').onkeyup = submit;
    document.querySelector('#fsm_def_id-input').onkeyup = submit;

    document.querySelector('#conversation-submit').onclick = function (e) {
        const conversation = document.querySelector('#conversation-input').value;
        const fsm_def_id = document.querySelector('#fsm_def_id-input').value;
        window.location.pathname = '/back/api/broker/chat/' + conversation + '/' + fsm_def_id + '/';
    };
</script>
</body>
</html>
