// =============================================================================
// Global settings
// =============================================================================

// Font
// =============================================================================
$font-primary: "Open Sans", sans-serif;
$font-secondary: "Gotham XNarrow Black", sans-serif;

// Width
// =============================================================================
$breakpoint-desktop: 1100px;
$breakpoint-tablet: 768px;
$max-width-desktop-content: 1440px;
$max-width-tablet-content: 1100px;
$max-width-mobile-content: 768px;
$min-width-mobile-content: 320px;
