@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Open Sans"), url('~/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf');
}
