@import "fonts";

:root {
    /* General Colors */

    // Primary
    --chatfaq-color-primary-200: #dfdaea;
    --chatfaq-color-primary-300: #cac2da;
    --chatfaq-color-primary-500: #463075;
    --chatfaq-color-primary-800: #3c2d52;
    --chatfaq-color-primary-900: #1A0438;

    // Secondary
    --chatfaq-color-secondary-pink-500: #CE0578;

    // Tertiary
    --chatfaq-color-tertiary-blue-500: #9FFFFF;
    --chatfaq-color-tertiary-green-500: #43F6AB;

    // Neutral
    --chatfaq-color-neutral-white: #FFFFFF;
    --chatfaq-color-neutral-black: #020C1C;
    --chatfaq-color-neutral-purple: #4D4160;
    --chatfaq-color-neutral-purple-light: #9a8eb5;

    // Grey Scale
    --chatfaq-color-greyscale-200: #e7e8e9;
    --chatfaq-color-greyscale-500: #aaafb5;
    --chatfaq-color-greyscale-800: #545a64;

    // Gradient
    --chatfaq-color-gradient-purple: linear-gradient(135deg, #463075 0%, #220D44 100%);
    --chatfaq-color-gradient-pink: linear-gradient(135deg, #CE0578 0%, #463075 100%);

    // Transparent
    --chatfaq-color-transparent-purple-10: rgba(223, 218, 234, .1);
    --chatfaq-color-transparent-purple-40: rgba(223, 218, 234, .4);
    --chatfaq-color-transparent-neutral-black-60: rgba(2, 12, 28, .6);
    --chatfaq-color-transparent-neutral-black-70: rgba(2, 12, 28, .7);
    --chatfaq-color-transparent-primary-10: rgba(70, 48, 117, .1);
    --chatfaq-color-transparent-primary-20: rgba(70, 48, 117, .2);


     /* Fonts */

    // Title
    --chatfaq-font-title-xl: normal normal 700 56px/68px 'Montserrat';
    --chatfaq-font-title-l: normal normal 700 48px/59px 'Montserrat';
    --chatfaq-font-title-sm: normal normal 700 24px/29px 'Montserrat';
    --chatfaq-font-title-xs: normal normal 700 18px/22px 'Montserrat';

    // Body
    --chatfaq-font-body-xl: normal normal 400 24px/33px 'Open Sans';
    --chatfaq-font-body-m: normal normal 400 24px/33px 'Open Sans';
    --chatfaq-font-body-m-bold: normal normal 600 16px/22px 'Open Sans';
    --chatfaq-font-body-s: normal normal 400 14px/19px 'Open Sans';
    --chatfaq-font-body-xs: normal normal 400 14px/19px 'Open Sans';

    // Caption
    --chatfaq-font-caption-md: italic normal 600 14px/19px 'Open Sans';
    --chatfaq-font-caption-sm: normal normal 400 12px/16px 'Open Sans';

    // Button
    --chatfaq-font-button: normal normal 600 14px/17px 'Montserrat';


     /* Icons */
    --chatfaq-bubble-button-open-icon: url('~/assets/icons/bubble-button-open.svg');
    --chatfaq-bubble-button-close-icon: url('~/assets/icons/bubble-button-close.svg');
    --chatfaq-maximize-icon: url('~/assets/icons/maximize.svg');
    --chatfaq-minimize-icon: url('~/assets/icons/minimize.svg');
    --chatfaq-dot-menu-icon: url('~/assets/icons/dot-menu.svg');
    --chatfaq-burger-menu-icon: url('~/assets/icons/burger-menu.svg');
    --chatfaq-dot-menu-hovered-icon: url('~/assets/icons/dot-menu-hovered.svg');
    --chatfaq-clock: url('~/assets/icons/clock.svg');
    --chatfaq-logo-icon: url('~/assets/icons/logo.svg');
    --chatfaq-logo-long-icon: url('~/assets/icons/logo-long.svg');
    --chatfaq-send-icon: url('~/assets/icons/send.svg');
    --chatfaq-send-dark-icon: url('~/assets/icons/send-dark.svg');
    --chatfaq-moon-icon: url('~/assets/icons/moon.svg');
    --chatfaq-sun-icon: url('~/assets/icons/sun.svg');
    --chatfaq-refresh-icon: url('~/assets/icons/refresh.svg');
    --chatfaq-mail-icon: url('~/assets/icons/mail.svg');
    --chatfaq-checkbox-icon: url('~/assets/icons/checkbox.svg');
    --chatfaq-checkbox-checked-icon: url('~/assets/icons/checkbox-checked.svg');
    --chatfaq-plus-icon: url('~/assets/icons/plus.svg');
    --chatfaq-double-arrow-right-icon: url('~/assets/icons/double-arrow-right.svg');
    --chatfaq-double-arrow-left-icon: url('~/assets/icons/double-arrow-left.svg');
    --chatfaq-arrow-down-icon: url('~/assets/icons/arrow-down.svg');
    --chatfaq-trash-icon: url('~/assets/icons/trash.svg');
    --chatfaq-check-icon: url('~/assets/icons/check.svg');
    --chatfaq-close-icon: url('~/assets/icons/close.svg');
    --chatfaq-download-icon: url('~/assets/icons/download.svg');
    --chatfaq-edit-icon: url('~/assets/icons/edit.svg');
    --chatfaq-copy-icon: url('~/assets/icons/copy.svg');
    --chatfaq-thumb-up-icon: url('~/assets/icons/thumb-up.svg');
    --chatfaq-thumb-down-icon: url('~/assets/icons/thumb-down.svg');

     /* Sizes */
    --chatfaq-size-bubbleButton: 60px;

     /* Breakpoints */

    // Extra small devices (phones, 600px and down)
    --phone-breakpoint: 600px;
}
