@import "tokens";

/*
    Specifics Tokens
*/

// Dark Filter
$chatfaq-color-darkFilter: var(--chatfaq-color-transparent-neutral-black-70);


// ------------------------------------------------------------------------------


// Scroll Bar
$chatfaq-color-scrollBar-light: var( --chatfaq-color-neutral-white);
$chatfaq-color-scrollBar-dark: var( --chatfaq-color-primary-500);


// ------------------------------------------------------------------------------


// Bubble Button
$chatfaq-color-bubbleButton-background: var(--chatfaq-color-gradient-pink);
$chatfaq-color-bubbleButton-background-hover: var(--chatfaq-color-gradient-purple);
$chatfaq-size-bubbleButton: var(--chatfaq-size-bubbleButton);


// ------------------------------------------------------------------------------


/* Menu */
$chatfaq-color-menu-border: var(--chatfaq-color-neutral-purple);
$chatfaq-color-menu-background: var(--chatfaq-color-gradient-purple);
$chatfaq-color-menu-text: var(--chatfaq-color-neutral-white);
$chatfaq-color-menu-scrollColor: var(--chatfaq-color-tertiary-blue-500);

// Menu Button
$chatfaq-color-menuButton-background: var(--chatfaq-color-primary-500);

// Menu Item
$chatfaq-color-menuItem-background: var(--chatfaq-color-transparent-purple-10);
$chatfaq-color-menuItem-background-hover: var(--chatfaq-color-primary-900);
$chatfaq-color-menuItem-border-edit: var(--chatfaq-color-tertiary-blue-500);


// ------------------------------------------------------------------------------


/* Chat */

// Background
$chatfaq-color-chat-background-light: var(--chatfaq-color-primary-200);
$chatfaq-color-chat-background-dark: var(--chatfaq-color-neutral-purple);

// Input
$chatfaq-color-chatInput-background-light: var(--chatfaq-color-primary-300);
$chatfaq-color-chatInput-background-dark: var(--chatfaq-color-primary-800);
$chatfaq-color-chatInput-border-light: var(--chatfaq-color-neutral-purple);
$chatfaq-color-chatInput-border-dark: var(--chatfaq-color-primary-900);
$chatfaq-color-chatInput-text-light: var(--chatfaq-color-neutral-black);
$chatfaq-color-chatInput-text-dark: var(--chatfaq-color-neutral-white);
$chatfaq-color-chatPlaceholder-text-light: var(--chatfaq-color-transparent-neutral-black-60);
$chatfaq-color-chatPlaceholder-text-dark: var(--chatfaq-color-primary-200);

// Alert Message
$chatfaq-color-alertMessage-text-light: var(--chatfaq-color-greyscale-800);
$chatfaq-color-alertMessage-text-dark: var(--chatfaq-color-greyscale-200);

// Messages Bot
$chatfaq-color-chatMessageBot-background-light: var(--chatfaq-color-primary-300);
$chatfaq-color-chatMessageBot-background-dark: var(--chatfaq-color-primary-800);
$chatfaq-color-chatMessageBot-text-light: var(--chatfaq-color-neutral-black);
$chatfaq-color-chatMessageBot-text-dark: var(--chatfaq-color-neutral-white);

// Messages Human
$chatfaq-color-chatMessageHuman-background-light: var(--chatfaq-color-primary-500);
$chatfaq-color-chatMessageHuman-background-dark: var(--chatfaq-color-primary-900);
$chatfaq-color-chatMessageHuman-text-light: var(--chatfaq-color-neutral-white);
$chatfaq-color-chatMessageHuman-text-dark: var(--chatfaq-color-neutral-white);

// Text Messages: Link & References
$chatfaq-color-chatMessageReference-background-light: var(--chatfaq-color-transparent-primary-10);
$chatfaq-color-chatMessageReference-text-light: var(--chatfaq-color-primary-500);
$chatfaq-color-chatMessageReference-background-dark: var(--chatfaq-color-primary-900);
$chatfaq-color-chatMessageReference-text-dark: var(--chatfaq-color-primary-200);
$chatfaq-color-chatMessageReferenceTitle-text-light: var(--chatfaq-color-neutral-purple);
$chatfaq-color-chatMessageReferenceTitle-text-dark: var(--chatfaq-color-greyscale-500);


// ------------------------------------------------------------------------------


// Separator
$chatfaq-color-separator-light: var(--chatfaq-color-transparent-primary-20);
$chatfaq-color-separator-dark: var(--chatfaq-color-neutral-purple);


// ------------------------------------------------------------------------------


// Copy to Clipboard
$chatfaq-color-clipboard-text-light: var(--chatfaq-color-neutral-purple-light);
$chatfaq-color-clipboard-text-dark: var(--chatfaq-color-primary-300);


// ------------------------------------------------------------------------------


// Loader
$chatfaq-color-loader-light: var(--chatfaq-color-primary-500);
$chatfaq-color-loader-dark: var(--chatfaq-color-neutral-white);


// ------------------------------------------------------------------------------


// Fonts
$chatfaq-font-title-xl: var(--chatfaq-font-title-xl);
$chatfaq-font-title-l: var(--chatfaq-font-title-l);
$chatfaq-font-title-sm: var(--chatfaq-font-title-sm);
$chatfaq-font-title-xs: var(--chatfaq-font-title-xs);

$chatfaq-font-body-xl: var(--chatfaq-font-body-xl);
$chatfaq-font-body-m: var(--chatfaq-font-body-m);
$chatfaq-font-body-m-bold: var(--chatfaq-font-body-m-bold);
$chatfaq-font-body-s: var(--chatfaq-font-body-s);
$chatfaq-font-body-xs: var(--chatfaq-font-body-xs);

$chatfaq-font-caption-md: var(--chatfaq-font-caption-md);
$chatfaq-font-caption-sm: var(--chatfaq-font-caption-sm);

$chatfaq-font-button: var(--chatfaq-font-button);


// ------------------------------------------------------------------------------


// Icons
$chatfaq-bubble-button-open-icon: var(--chatfaq-bubble-button-open-icon);
$chatfaq-bubble-button-close-icon: var(--chatfaq-bubble-button-close-icon);
$chatfaq-maximize-icon: var(--chatfaq-maximize-icon);
$chatfaq-minimize-icon: var(--chatfaq-minimize-icon);
$chatfaq-dot-menu-icon: var(--chatfaq-dot-menu-icon);
$chatfaq-burger-menu-icon: var(--chatfaq-burger-menu-icon);
$chatfaq-dot-menu-hovered-icon: var(--chatfaq-dot-menu-hovered-icon);
$chatfaq-clock: var(--chatfaq-clock);
$chatfaq-logo-icon: var(--chatfaq-logo-icon);
$chatfaq-logo-long-icon: var(--chatfaq-logo-long-icon);
$chatfaq-send-icon: var(--chatfaq-send-icon);
$chatfaq-send-dark-icon: var(--chatfaq-send-dark-icon);
$chatfaq-moon-icon: var(--chatfaq-moon-icon);
$chatfaq-sun-icon: var(--chatfaq-sun-icon);
$chatfaq-refresh-icon: var(--chatfaq-refresh-icon);
$chatfaq-mail-icon: var(--chatfaq-mail-icon);
$chatfaq-checkbox-icon: var(--chatfaq-checkbox-icon);
$chatfaq-checkbox-checked-icon: var(--chatfaq-checkbox-checked-icon);
$chatfaq-plus-icon: var(--chatfaq-plus-icon);
$chatfaq-double-arrow-right-icon: var(--chatfaq-double-arrow-right-icon);
$chatfaq-double-arrow-left-icon: var(--chatfaq-double-arrow-left-icon);
$chatfaq-arrow-down-icon: var(--chatfaq-arrow-down-icon);
$chatfaq-trash-icon: var(--chatfaq-trash-icon);
$chatfaq-check-icon: var(--chatfaq-check-icon);
$chatfaq-close-icon: var(--chatfaq-close-icon);
$chatfaq-download-icon: var(--chatfaq-download-icon);
$chatfaq-edit-icon: var(--chatfaq-edit-icon);
$chatfaq-copy-icon: var(--chatfaq-copy-icon);
$chatfaq-thumb-up-icon: var(--chatfaq-thumb-up-icon);
$chatfaq-thumb-down-icon: var(--chatfaq-thumb-down-icon);


// ------------------------------------------------------------------------------


// Breakpoints
$phone-breakpoint: var(--phone-breakpoint);




