@import "variables";

.chatfaq-widget {
    * {
      color: $chatfaq-text-color;
      font-family: $chatfaq-font-family;
    }

    .pi {
      color: white !important;
    }

    .p-button {
      border-color: $chatfaq-main-color !important;
    }

    .p-button:focus, .p-button:hover {
      box-shadow: none !important;
    }
}
