@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Open Sans"), url('~/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf');
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Montserrat"), url('~/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
