@import "variables";
@import "el_plus/globals";

* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f0f7;
}

.dashboard-page-title {
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    padding-left: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: white;
    &.alone {
        border-bottom: 2px solid var(--el-border-color-light);
    }
}

.main-page-tabs {
    > .el-tabs__header {
        background-color: white;
        margin: 0px;
        .el-tabs__nav-wrap {
            padding-left: 40px;
        }
    }
}

.read-more-link {
    color: $chatfaq-color-primary-500;
    text-decoration: none;
    font-weight: 600;
    &::after {
        content: "›";
        margin-left: 5px;
        display: inline-block;
        transition: transform 0.3s;
    }
}

.command-edit, .command-delete {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
}

.command-delete-confirm.on-table {
    .command-delete {
        margin-right: 10px;
    }
}

.commands {
    display: flex;
    justify-content: space-between;
    color: $chatfaq-color-primary-500;

    .command-delete {
        margin-left: 16px;
        margin-bottom: 13px;
    }

    .command-delete-confirm {
        display: flex;
        justify-content: center;
    }

    .command-edit {
        margin-right: 16px;
        margin-bottom: 13px;
    }
}

.main-component-page-loader {
    width: 100%;
    height: calc(100% + 55px); // 55px (margin-bottom of the parent)
}

.read-write-loader {
    position: absolute;
    width: 100%;
    height: 100%;
}
