@import "variables";
@import "el_plus/globals";

* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

body {
    margin: 0;
}

.dashboard-page-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    padding-left: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: white;
    &.alone {
        border-bottom: 2px solid var(--el-border-color-light);
    }
}

.main-page-tabs {
    > .el-tabs__header {
        background-color: white;
        margin: 0px;
        .el-tabs__nav-wrap {
            padding-left: 40px;
        }
    }
}

.read-more-link {
    color: $chatfaq-color-primary-500;
    text-decoration: none;
    font-weight: 600;
    &::after {
        content: "›";
        margin-left: 5px;
        display: inline-block;
        transition: transform 0.3s;
    }
}
